<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
    <div id="title">주차하카</div>
    <div id="test"></div>
  </head>
  <body></body>
</html>
