<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
    <h1>코딩시작!</h1>
  </head>
  <body></body>
</html>
