<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/success.css" />
    <title>회원가입 완료</title>
  </head>
  <body class="successBody">
    <!-- header -->
    <div class="header-container">
      <nav class="headbox">
        <div class="headermenu">
          <img
            class="leftMenu"
            src="https://kdt8-cs.s3.ap-northeast-2.amazonaws.com/ChevronLeft.svg"
            alt="되돌아가기"
            onclick="goBack()"
            style="width: 25px"
            height="25px"
          />
          <img
            src="https://kdt8-cs.s3.ap-northeast-2.amazonaws.com/%EC%A3%BC%EC%B0%A8%ED%95%98%EC%B9%B4_icon/W_text_logo.svg"
            alt="로고"
            class="logo"
            onclick="window.location.href='/'"
          />
        </div>
      </nav>
    </div>

    <!-- 회원가입 성공 페이지 -->
    <h1 class="susTitle">회원가입 완료</h1>
    <br />
    <h3 class="susSub">
      <span style="color: #8783f5" id="userid"><%= userid %></span>님
      환영합니다!
      <div>주차하카와 함께 편안한 주차를 해보세요.</div>
    </h3>
    <img
      class="carLogo"
      src="https://kdt8-cs.s3.ap-northeast-2.amazonaws.com/%EC%A3%BC%EC%B0%A8%ED%95%98%EC%B9%B4_icon/P_car_logo.svg"
      alt="logo"
    />
    <h3 class="serviceBox">
      이제 <span style="color: #8783f5" id="nickname"><%= nickname %></span>로
      다양한 서비스를 이용하실 수 있습니다.
    </h3>
    <br />
    <div class="loginBTn">
      <a class="loginBTn" href="/user/login">로그인하기</a>
    </div>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const userid = urlParams.get("userid");
      const nickname = urlParams.get("nickname");
      const nicknameElement = document.getElementById("nickname");
      const useridElement = document.getElementById("userid");

      if (userid && nickname) {
        nicknameElement.textContent = nickname;
        useridElement.textContent = userid;
      }

      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
