@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("/static/font/Pretendard-ExtraBold.ttf");
}
* {
  font-family: "Pretendard-ExtraBold", sans-serif;
}

.body {
  width: 100%;
  height: 100vh;
  position: relative;
}
#chat {
  position: fixed;
  bottom: 1em;
  width: 95vw;
  display: flex;
  justify-content: center;
  padding-left: 1em;
}
#chat input {
  position: relative;
  height: 3vh;
}
#date {
  display: flex;
  justify-content: center;
  background: rgba(196, 193, 255, 1);
  margin-right: 10px;
  border-radius: 10px;
  height: 3vh;
  text-align: center;
}
#chatTime {
  font-size: 10px;
  margin-top: 20px;
}
.my-chat {
  display: flex;
  justify-content: end;
  padding: 2px 0px;
}
#otherChatTime {
  font-size: 10px;
  margin-top: 20px;
  margin-left: 1.5em;
  margin-top: 0.5em;
}
#chatText,
#newChatText,
#sendText {
  margin: 0;
  padding: 10px;
  background: rgba(196, 193, 255, 1);
  margin-right: 10px;
  border-radius: 10px;
}
#newChatText {
  margin: 0;
  padding: 10px;
  background: rgba(196, 193, 255, 1);
  margin-right: 10px;
  border-radius: 10px;
}
.other-chat {
  display: flex;
  justify-content: start;
  padding: 2px 0px;
}
#othermessage {
  margin: 0;
  padding: 10px;
  background: rgba(222, 228, 246, 1);
  margin-left: 10px;
  border-radius: 10px;
}
#notice {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  background-color: rgba(53, 210, 191, 1);
  border-radius: 10px;
  width: 80%;
  height: 3vh;
  text-align: center;
  margin-top: 10px;
}
#notice p {
  margin: 0;
}
.secret-chat p {
  background: pink;
}
#nick {
  margin: 0;
  padding: 10px;
  margin-left: 10px;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
#chatExit {
  width: 5em;
  transform: scaleX(-1);
}
#chatSendBtn {
  width: 3em;
  position: absolute;
  right: 0.1em;
}
#chatSendBtnImg {
  width: 2em;
  height: 2em;
}
#message {
  width: 100%;
}
#backBtnImg {
  width: 1.5em;
  height: 1.5em;
}

#chatHeader {
  display: flex;
  margin-top: 1em;
}
