@font-face {
  font-family: "Pretendard-Regular";
  src: url("/static/font/Pretendard-Regular.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/static/font/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("/static/font/Pretendard-Light.ttf");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/static/font/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("/static/font/Pretendard-Bold.ttf");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("/static/font/Pretendard-ExtraBold.ttf");
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}