/* 헤더 스타일링 */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.headbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #8783f5;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px rgb(199, 199, 199);
}

.logo {
  width: 140px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.successBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.leftMenu {
  position: absolute;
  left: 0;
  top: 24px;
  margin-left: 20px;
}

.susTitle,
.susSub {
  text-align: left;
}

.susTitle {
  margin-top: -50px;
  font-family: "KBO-Dia-Gothic_bold";
}

.susSub {
  font-family: "GmarketSansMedium";
}

.loginBTn {
  text-decoration: none;
  width: 380px;
  height: 30px;
  background-color: #35d2bf;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}

.carLogo {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.serviceBox {
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
  font-family: "GmarketSansMedium";
}

@media screen and (min-width: 800px) {
  .susTitle {
    margin-top: -100px;
  }
  .susSub {
    margin-bottom: 40px;
  }
}
